# Python

__pycache__/
*.py[cod]
*$py.class

# Virtual Environment

venv/
.venv/
env/

# Environment Variables

.env
.env.*
.env.local
.env.development
.env.production

# Django

db.sqlite3
*.sqlite3
media/
staticfiles/

# Local Configuration

core/app_config.toml
!core/app_config.toml.example

# Logs

*.log
logs/

# IDEs

.vscode/
.idea/

# OS Files

.DS_Store
Thumbs.db
Desktop.ini
.AppleDouble
.LSOverride
*~

# Testing

.pytest_cache/
.coverage
.coverage.*
coverage.xml
htmlcov/

# Type Checking / Linting

.mypy_cache/
.ruff_cache/

# Build / Distribution

build/
dist/
*.egg-info/

# Jupyter

.ipynb_checkpoints/
*/.ipynb_checkpoints/*
Untitled*.ipynb
untitled*.ipynb
*.ipynb

# Temporary Files

tmp/
temp/
*.tmp
*.bak
*.swp
*.swo

# Data Import Files

data/

# Generated Reports / Outputs

reports/
output/

# Docker

docker-compose.override.yml

# Secrets

secrets/
credentials.json

# Apache Iceberg / PySpark local warehouse

pyspark_etl/spark_pipeline_data/
pyspark_etl/spark_pipeline_data/**

# Optional: Ignore migrations

# Uncomment only if your team does not track migrations

# */migrations/*

# !*/migrations/__init__.py