asgiref==3.11.1
Django==5.2.*
greenlet==3.5.3
ijson==3.5.1
psycopg==3.3.4
psycopg-binary==3.3.4
sqlparse==0.5.5
typing_extensions==4.16.0
django-postgres-extra>=2.0.4
pyspark==3.5.4
jupyter
pandas>=2.0
pyarrow>=14.0
elasticsearch==8.15.1
boto3>=1.34