[app]
environment = "development"

[security]
secret_key = "your-secretkey"

[development]
debug = true

[production]
debug = false

[database]
engine = "django.contrib.gis.db.backends.postgis"
name = "booking_attraction"
user = "postgres"
password = "postgres"
host = "db"
port = 5432

[import]
data_dir = "data"

[iceberg]
warehouse_dir = "spark_pipeline/warehouse"
catalog_name = "booking"
database = "attractions"